body{
	font:12px 'Arial';line-height:2em;color:gray;
}
a{
	color:#727272;text-decoration:none;
}
a:hover{text-decoration:underline;}
.de{
	font:bold 14px;color:#b9f605;
}
.de a{
	color:white;
}
.de a:hover{color:#b9f605;text-decoration:none;}
#dee{color:#fdb306;}
#ded{
	color:#b9f605;
}
